Unit03/1_Pearson_correlation_coefficient.ipynb
Unit03/2_Vector_cos.ipynb
Unit03/3_Similarity.ipynb

# 忽略 Jupyter Notebook 的暫存檔
**/.ipynb_checkpoints/

# 忽略 VSCode 設定檔
.vscode/


Unit04/_Loss Function.ipynb
Unit04/Linear Regression_1.ipynb
Unit04/Linear Regression_2.ipynb
Unit04/Linear Regression_3.ipynb
Unit04/Ridge and Lasso Regression.ipynb
